<!DOCTYPE html>
<html lang="en">
    
    {% load staticfiles %}
    <head>

        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Кухни "Анонс"</title>

        <!-- CSS -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon" />
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'gallery/css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'gallery/css/media.css' %}" rel="stylesheet" />
        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    </head>

    <body>

        <div class="fixed-button">
            <a class="order-link" href="#contact-form">Заказать</a>
        </div>

        <section id="top-content">
            <div class="top-content-text wow fadeInUp">
                <div class="divider-2"><span></span></div>
                <h1><a href="">КУХНИ АНОНС</a></h1>
                <div class="divider-2"><span></span></div>
                <p>Фабричные кухни европейского качества по индивидуальному заказу от ведущего производителя кухонь в СНГ</p>
                <div class="top-content-bottom-link">
                    <a class="big-link-1 order-link" href="#contact-form">Заказать кухню!</a>
                </div>
            </div>
        </section>

        <section id="title">
            <div class="container">

                <div class="row">
	                <div class="col-sm-12 title section-description wow fadeIn">
	                    <h2>Почему мы</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>
	                    	Мы рады предложить Вам продукцию одного из крупнейших производителей кухонь в СНГ – мебельной фабрики «Анонс».
                            Наши кухни отличаются высоким качеством, практичностью, функциональностью, экологичными материалами и доступными ценами.
	                    </p>
                        <p>Доставка и сборка - <strong>бесплатно</strong>! Гарантия - <strong>2 года</strong>.</p>
	                </div>
	            </div>

            </div>
        </section>

        <section id="manufacturers">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12 manufacturers wow fadeInUp">
                        <a>
                            <img src="{% static "gallery/img/manufacturers/teka.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/aeg.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/blum.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/electro.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/kupper.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/kesse.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/vauth.png" %}">
                        </a>
                        <a>
                            <img src="{% static "gallery/img/manufacturers/hettich.png" %}">
                        </a>
                    </div>
                </div>

            </div>
        </section>

        <section id="counters" class="full-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-3 counter-box wow fadeInUp">
                        <h4>16</h4>
                        <p>Лет опыта</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInDown">
                        <h4>300</h4>
                        <p>Моделей и цветов</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInUp">
                        <h4>2324</h4>
                        <p>Кухонь продано</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInDown">
                        <h4>15</h4>
                        <p>Лет службы кухни</p>
                    </div>
                </div>

            </div>
        </section>

        <section id="gallery">
            <div class="container-fluid">

                <div class="row">
	                <div class="col-sm-12 gallery section-description wow fadeIn">
	                	<h2>Галерея</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <p>
	                    	Кухонная мебель "Анонс" - это 10 различных стилей, более 40 моделей и 300 цветовых решений.
                            Современные технологии и большой масштаб производства позволяют совмещать модели, комбинировать цвета и даже материалы.
	                    </p>
	                </div>
	            </div>

                <div class="row">
	            	<div class="col-sm-12 gallery-filters wow fadeInUp">
	            		<a href="#" class="filter-all active">Все</a> /
	            		<a href="#" class="filter-classic">Классика</a> /
	            		<a href="#" class="filter-modern">Модерн</a> /
                        <a href="#" class="filter-provence">Прованс</a> /
                        <a href="#" class="filter-country">Кантри</a> /
                        <a href="#" class="filter-england">Английский</a> /
                        <a href="#" class="filter-italian">Итальянский</a> /
                        <a href="#" class="filter-japan">Японкскй</a> /
	            		<a href="#" class="filter-neo">Неоклассика</a>
	            	    <div class="top-buffer"></div>
	            		<a href="#" class="filter-all">Все</a> /
	            		<a href="#" class="filter-block">Массив</a> /
	            		<a href="#" class="filter-enamel">Эмаль</a> /
                        <a href="#" class="filter-veneer">Шпон</a> /
                        <a href="#" class="filter-mdf">МДФ</a> /
                        <a href="#" class="filter-plastic">Пластик</a> /
                        <a href="#" class="filter-membrane">Пленка</a>
	            	</div>
	            </div>

                <div class="row">
                    <div class="album">
                        {% for kitchen in kitchens %}
                            <div class="col-lg-4 col-sm-6 col-xs-12 kitchen-box {{ kitchen.style }} {{ kitchen.material }}">
                                <div class="kitchen">
                                    <img src="{{ kitchen.image.url }}">
                                    <div class="kitchen-text">
                                        <p>
                                            <span class="kitchen-name">{{ kitchen.name }}</span>
                                            <span class="kitchen-price">{{ kitchen.price }} руб за м.п.</span>
                                        </p>
                                    </div>
                                    <div class="kitchen-description mfp-hide">
                                        <p> {{ kitchen.description }} </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 order section-description wow fadeInDown">
                        <p>Понравилась кухня?<br>Закажите бесплатный дизайн-проект и расчет стоимости Вашей кухни.</p>
                        <div class="kitchen-bottom-link">
                            <a class="big-link-1 order-link" href="#contact-form">Заказать кухню!</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="testimonials" class="gray-bg">
	        <div class="container">

	            <div class="row">
	                <div class="col-sm-12 testimonials section-description wow fadeInUp">
	                    <h2>Отзывы</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                    <div class="testimonial-active"></div>
	                    <div class="testimonial-single">
                            <p>
	                    		Приобрели кухню Гала. За время эксплуатации нет никаких нареканий.
                                Фасад, основание, фурнитура -все служит отлично.
                                Ничего не отваливается, не отслаивается, легко моется.
                                Я довольна и внешним видом и качеством сборки.
	                    	</p>
	                    	<div class="testimonial-single-image">
	                    		<img src="{% static 'gallery/img/testimonials/1.jpg' %}">
	                    	</div>
	                    </div>
	                    <div class="testimonial-single">
	                    	<p>
	                    		У нас маленькая кухня. Поэтому нужно было подобрать мебель так,
                                чтобы не захламить ее, но и, чтобы все поместилось.
                                Обратились за помощью в Анонс и не прогадали.
                                Получилось красиво, а за счет подобранной цветовой гаммы еще и просторно.
                                Материалы очень качественные, изготовили и установили в срок.
	                    	</p>
	                    	<div class="testimonial-single-image">
	                    		<img src="{% static 'gallery/img/testimonials/2.jpg' %}">
	                    	</div>
	                    </div>
	                    <div class="testimonial-single">
	                    	<p>
	                    		У меня деревянная зеленая кухня. Три года уже радуюсь. Никаких нареканий у меня нет.
                                Мастера очень хорошие устанавливали, по размеру точно подошла.
                                Для меня было очень важно, что они любой размер сделают, а не только стандартные ящики.
                                По срокам все было точно.
	                    	</p>
	                    	<div class="testimonial-single-image">
	                    		<img src="{% static 'gallery/img/testimonials/3.jpg' %}">
	                    	</div>
	                    </div>
	                    <div class="testimonial-single">
	                    	<p>
	                    		Заказали в Анонс мебель для детской комнаты.
                                Получилась очень функциональная и безопасная мебель,
                                как раз подходящая для мальчика.
                                Спасибо большое за дизайн, оперативность и качественную сборку.
	                    	</p>
	                    	<div class="testimonial-single-image">
	                    		<img src="{% static 'gallery/img/testimonials/4.jpg' %}">
	                    	</div>
	                    </div>
	                </div>
	            </div>

	        </div>
        </section>

        <section id="counters" class="full-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-3 counter-box wow fadeInUp">
                        <h4>16</h4>
                        <p>Лет опыта</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInDown">
                        <h4>300</h4>
                        <p>Моделей и цветов</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInUp">
                        <h4>2324</h4>
                        <p>Кухонь продано</p>
                    </div>
                    <div class="col-sm-3 counter-box wow fadeInDown">
                        <h4>15</h4>
                        <p>Лет службы кухни</p>
                    </div>
                </div>

            </div>
        </section>

        <section id="contacts">
            <div class="container-fluid">

                <div class="row">
                    <div id="map" class="col-sm-6 wow fadeIn"></div>
                    <div id="contact-us" class="col-sm-6 wow fadeIn">
                        <h3>Контакты</h3>
                        <div class="divider-1 wow fadeInUp"><span></span></div>
                        <div class="requisites">
                            <div class="address contacts-part">
                                <h4><strong>Адрес салона:</strong></h4>
                                <h4>ул. Тимирязева 123/2</h4>
                                <h4>ТРЦ «Град», 4 этаж, пав. 405.</h4>
                            </div>
                            <div class="phones contacts-part">
                                <h4><strong>Телефоны:</strong></h4>
                                <h4><img src="{% static 'img/logos/velcom.png' %}"> +375 29 657-77-91</h4>
                                <h4><img src="{% static 'img/logos/mts.png' %}"> +375 29 747-77-91</h4>
                            </div>
                            <div class="email contacts-part">
                                <h4><strong>E-mail:</strong></h4>
                                <h4>info@f-anons.by</h4>
                            </div>
                        </div>
                        <div class="social">
                            <a target="_blank" href="https://vk.com/club119730493"><i class="fa fa-vk"></i></a>
                            <a target="_blank" href=""><i class="fa fa-facebook-square"></i></a>
                            <a target="_blank" href="https://www.instagram.com/kukhnianons/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <footer class="gray-bg">
            <div class="container">

	            <div class="row">
                    <div class="col-sm-12 footer-copyright">
                    	&copy; F-Anons.by 2017
                    </div>
	            </div>

	        </div>
        </footer>

        <!-- Modal form -->

        <div id="contact-form" class="mfp-hide">
            <p>Оставьте ваши данные и наш менеджер свяжется с вами или позвоните нам сами.</p>
            <div class="phones">
                <h4><img src="{% static 'img/logos/velcom.png' %}"> +375 29 657-77-91</h4>
                <h4><img src="{% static 'img/logos/mts.png' %}"> +375 29 747-77-91</h4>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input class="order-submit" type="submit" value="Отправить">
            </form>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'plugins/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'plugins/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap.js' %}"></script>
        <script src="{% static 'plugins/wow.min.js' %}"></script>
        <script src="{% static 'gallery/js/custom.js' %}"></script>
        <script src="{% static 'gallery/js/map.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>

    </body>

</html>
