
body {
    margin: 0;
	background: #fff;
    font-family: '', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
}

h1, h2 {
	margin-top: 10px;
	font-size: 42px;
    font-weight: 700;
    color: black;
    line-height: 54px;
}

h3 {
	font-size: 30px;
    font-weight: 700;
    color: black;
    line-height: 34px;
}

a, a:hover, a:focus {
    outline: none;
	color: #8ec1cd;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

img {
    width: 100%;
    height: 100%;
}

section{
    margin: 0 auto;
    padding-bottom: 60px;
}

::-moz-selection { background: #8ec1cd; color: #fff; text-shadow: none; }
::selection { background: #8ec1cd; color: #fff; text-shadow: none; }

.buffer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.top-buffer {
    margin-top: 30px;
}

.bot-buffer {
    margin-bottom: 30px;
}

.full-bg,
.full-bg h1,
.full-bg h2,
.full-bg h3,
.full-bg h4 { color: #fff; }

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 30px;
	padding: 0 120px;
    font-size: 18px;
    line-height: 32px;
}

.gray-bg {
	background-color: #E8E8EE;
}

/*** Button ***/

.fixed-button {
    position: fixed;
    z-index: 999;
    top: -6px;
	right: 100px;
	text-align: center;
}

.fixed-button a {
	display: inline-block;
	width: 100%;
	height: 48px;
	padding: 10px 10px 0 10px;
	background: #888;
	font-size: 21px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

/*** Head ***/

#top-content {
	background-image: url("../img/backgrounds/head.jpg");
    background-repeat: no-repeat;
    background-position: center -250px;
    background-size: cover;
    height: 650px;
}

#top-content {
    padding: 160px 0;
}

.top-content-text {
	width: 700px;
	margin: 0 auto;
	color: #fff;
}

.top-content-text h1,
.top-content-text h1 a,
.top-content-text h1 a:hover,
.top-content-text h1 a:focus { color: #fff; text-decoration: none; }

.top-content-text p {
	opacity: 0.9;
	margin-top: 40px;
    font-size: 22px;
    line-height: 36px;
    font-style: italic;
}

.top-content-bottom-link {
	padding-top: 30px;
	padding-bottom: 7px;
}

.top-content-bottom-link .big-link-1 {
	color: #fff;
	background: none;
	border: 1px solid #fff;
}

/*** Gallery ***/

#gallery {
    padding-bottom: 80px;
}

.gallery p {
    margin-bottom: 20px;
}

.gallery-filters {
	padding: 20px 0;
	font-size: 18px;
	color: #aaa;
    line-height: 22px;
}

.gallery-filters a { color: #aaa; }
.gallery-filters a:hover, .gallery-filters a.active { color: #8ec1cd; }

.kitchen {
    margin: 30px 0 0 0;
    position: relative;
    overflow: hidden;
    max-height: 300px;
}

.kitchen:hover { cursor: pointer; }

.kitchen img { -o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s; }

.kitchen:hover img {
	opacity: 0.6;
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.kitchen-text {
	position: absolute;
	bottom: -200px;
	left: 0;
	right: 0;
	width: 100%;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
    background: #888;
    color: #fff;
}

.kitchen:hover .kitchen-text {
    bottom: 0;
}

.kitchen-text p {
	font-size: 18px;
    line-height: 32px;
}

.kitchen-text p { color: #fff; }
.kitchen-text p :hover, .kitchen-text p :focus { color: #eee; }

.kitchen-text p span {
    margin: 0;
	padding: 15px 20px;
}

.kitchen-name {
    float: left;
}

.kitchen-price {
    float: right;
}

.order a:hover,
.order a:focus { color: black; text-decoration: none; }

.kitchen-bottom-link {
	padding-top: 30px;
}

/*** Counters ***/

#counters {
    background-image: url("../img/backgrounds/wall.jpg");
	padding-top: 50px;
}

.counter-box h4 {
	font-size: 42px;
    font-weight: 700;
    line-height: 54px;
}

.counter-box p {
	font-size: 22px;
    line-height: 36px;
}

/*** Manufacturers ***/

#manufacturers {
    padding-bottom: 0;
}

.manufacturers {
	padding-top: 30px;
	padding-bottom: 30px;
}

.manufacturers a {
	display: inline-block;
	margin: 10px 20px;
}

.manufacturers a:hover, .manufacturers a:focus { outline: 0; opacity: 0.6; }

/*** Testimonials ***/

#testimonials {
    min-height: 434px;
}

.testimonials p {
	padding: 0;
    min-height: 96px;
}

.testimonial-single {
	display: inline-block;
}

.testimonial-single p {
	display: none;
}

.testimonial-single-image {
	display: inline-block;
	width: 58px;
	margin: 0 5px 10px 5px;
}

.testimonial-single-image img {
	width: 100%;
	opacity: 0.5;
	cursor: pointer;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    -moz-border-radius: 31px; -webkit-border-radius: 31px; border-radius: 31px;
}

.testimonial-active {
	padding-bottom: 20px;
}

/*** Contacts ***/

#contacts {
    padding-bottom: 0;
}

#map {
    height: 500px;
}

#contact-us {
	height: 500px;
}

#contact-us h3 {
    margin-top: 40px;
}

.contacts-part {
    text-align: left;
	margin: 40px 0 0 60px;
}

.phones img {
    width: 20px;
    height: 20px;
}

.social a { margin: 0 8px; font-size: 39px; color: #777; }
.social a:hover, .social a:focus { opacity: 0.6; }

/*** Footer ***/

footer {
	padding: 25px 0 20px 0;
	text-align: right;
}

.footer-copyright {
	margin: 11px 0 0 0;
	font-size: 18px;
    line-height: 32px;
}

/*** Form ***/

#contact-form {
    position: relative;
    background: #FFF;
    padding: 40px 40px 40px 40px;
    width: auto;
    height: 100%;
    max-width: 430px;
    margin: 0 auto;
    text-align: center;
}

#contact-form input, textarea {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: black;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	background: none;
	border: 1px solid black;
    margin: 20px 0 0 0;
    width: 350px;
    outline: none;
    padding-left: 10px;
}

#contact-form input {
    height: 50px;
}

#contact-form textarea {
    resize: none;
    height: 180px;
    padding-top: 5px;
}

.order-submit:hover {
    opacity: 0.8;
}

/*** Dividers ***/

.divider-1 span {
	display: block;
	width: 300px;
	height: 6px;
	margin: 0 auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.divider-2 span {
	display: block;
	width: 350px;
	height: 1px;
	margin: 0 auto;
	border-bottom: 1px solid #fff;
	opacity: 0.5;
}

/*** Links ***/

.big-link-1 {
	display: inline-block;
	padding: 15px 20px;
	font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: black;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	background: none;
	border: 1px solid black;
}

.big-link-1:hover, .big-link-1:active { outline: 0; opacity: 0.6; }
.big-link-1:focus { outline: 0; }
